@import 'components/header';
@import 'components/banner';
@import 'components/footer';
@import 'components/contact';
@import 'reset';

*, *::before, *::after {
    box-sizing: border-box;
}

.container {
    max-width: 1252px;
    margin: 0 auto;
    width: 95%;
}

body {
    background-color: white;
    font-family: 'Roboto', 'Open Sans', sans-serif;
    height: auto;
}

a {
    text-decoration: none;
}