#footer-page {
    background: #F7F7F7 0% 0% no-repeat padding-box;
    min-height: 89px;

    .container {
        display: flex;
        justify-content: space-between;
    }

    .copyright {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        a {
            text-decoration: none;
            font-family: 'Lobster', cursive;
            color: $primary-color;
            font-weight: 300;
            font-size: 1.5rem;
            display: block;
            margin: 24px 0 10px 0;
        }

        p {
            font-family: 'Open Sans', sans-serif;
            font-size: 0.7rem;
            color: grey;
        }
    }
}

#footer-page .social-media {
    display: flex;

    ul {
        display: flex;
        align-items: center;
        margin: 0;
    }

    li {
        list-style: none;
        margin-top: 25px;
    }

    img {
        display: block;
        max-width: 100%;
        width: 30px;
        height: 30px;
        margin: 0 10px;
    }
}